body {
  height: auto;
  width: auto;
  margin: 0;
  display: flex;
  justify-content: center;
  margin-top: 90px;
  font-family: "Red Hat Display", sans-serif;
}

main {
  height: 35.5rem;
  width: 20rem;
  background-color: rgb(250, 250, 250);
  border-radius: 0.5rem;
}

#image {
  height: 35%;
  width: 20rem;
  background-image: url(/HTML/Actividad/images/illustration-hero.svg);
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem 0.5rem 0% 0%;
}

#info {
  height: 40%;
  width: 20rem;
  background-color: rgb(250, 250, 250);
  text-align: center;
  font-size: 16px;
}

.annualPlan {
  height: 35%;
  width: 15rem;
  background-color: hsl(225, 100%, 98%);
  margin-top: 20px;
  margin-left: 40px;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-around;
}

#plan {
  text-align: start;
  margin-top: 13px;
}

#link {
  margin-top: 23px;
  margin-right: 17px;
}

#logo {
  margin: 10px;
}

#buttons {
  height: 17%;
  width: 20rem;
  background-color: rgb(250, 250, 250);
  text-align: center;
}

.button {
  width: 15rem;
  border-radius: 0.5rem;
  height: 35px;
  background-color: hsl(245, 75%, 52%);
  color: white;
  margin-bottom: 20px;
}

#button div {
  background-color: hsl(245, 75%, 52%);
  border-radius: 0.5rem;
}

#buttons a {
  text-decoration: none;
  color: hsl(224, 23%, 55%);
}
