.figures{
 display: flex;
 justify-content: space-between;
}


#rectangle{
    height: 6rem;
    width: 15rem;
    background-color: blue;
}

#square{
    height: 8rem;
    width: 8rem;
    background-color: brown;
}

#circle{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background-color: black;
}