.container{
    width: calc( 100vw - 2rem );
    margin: 0 auto;
    display: flex;
    .main-section{
        border: 1px solid red;
    }
    >div{
        border: 1px spñid blue;
    }
    .aside{
        border: 1px solid peru;

        nav{
            background-color: gray;
            a{
                text-decoration: none;
                color: #333;
                &.active{
                    border: 1px solid red;
                    + a{
                        background-color: peru;
                    }
                    
                }
            }
        }
    }
}


    
